main {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#contenido_foro{
    margin: 3vw;
}
.input-pregunta {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;

    label {
        background-color: #000000;
        font-size: 1.5vw;
        padding: 0.5vw;
        color: white;
        flex-grow: 1/2;
    }
}
#ipt-pregunta {
    font-size: 1.5vw;
    border: 2vw solid #CDDBF4;
    background-color: #B4C0D3;
    flex-grow: 9;
}
.botonesforo {
    width: 70vw;
    height: 10vh;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#pregunta-submit {
    align-self: flex-end;
    width: 10vw;
    height: 5vw;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5vw;
    margin-top: 1vh;
    margin-bottom: 0;
    flex-grow: 1;

}
#historial-submit {
    width: 20vw;
    height: 5vw;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5vw;
}
