h2{
    background-color: #D9D9D9;
    padding: 1%;
    margin: 2vw;
    width: fit-content;
}
main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.HistPregunta{
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
table{
    width: 60vw;
    height: 50vh;
    border-radius: 1.5vh;
    margin: 2vw;
    border-collapse: collapse;
    text-align:left;
}
.pendiente {
    background-color: #D9D9D9;
}
.contestado {
    background-color: #cfec87;
}

td {
    padding-bottom: 0.5vw;
    padding-left: 2vw;
}

.RespHistorialForo {
    width: 60vw;
    height: 30vh;
    padding-top: 2vh ;
    background-color: #B8B2B2;
    vertical-align: top;
}
/*foro dudas profe*/
#contestar-submit, #elimduda-submit, .paraDuda{
    padding: 1vw;
    border-radius: 10vh;
    border: none;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    width: fit-content;
    }
#contestar-submit{
    background-color: rgb(153, 212, 113);
    color: black;
}
#elimduda-submit{
    background-color: #FF9F9F;
    color: black;
}

.encaduda{
    display: flex;
    justify-content: space-between;
    padding: 0;
} 

.botonduda {
    display: flex;
    justify-content: flex-end;
}
.paraDuda, .tituloDuda {
    font-size: larger;
}
.paraDuda{
    padding-left:0;
}
.tituloDuda{
    padding-left: 2vw;
    padding-bottom: 1vw;
}

/*eliminar duda*/
#confi-elimprof{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.cont-confirma-elimprof{
    width: 50vw;
    height: 50vh;
    border-radius: 1vh;
    margin-top: 10vh;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self:flex-start;
}
#preg-confirma-elimprof{
    font-size: 5vh;
    padding: 2vh;
    text-align: center;
}
.botones-confelim{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#aceptelim-submit, #cancelelim-submit{
    font-size: 3 vh;
    padding: 2vh;
    border-radius: 10vh;
    border: none;
    margin: 2vh;
}
#aceptelim-submit{
    background-color: #FF9F9F;
}
#cancelelim-submit{
    background-color: #BFECC0;
}




