/* ==== SETTINGS ===== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ==== GENERIC ==== */
main {
    width: 100%;
    height: 100vh;
    background-color: #94B1E7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ==== OBJECTS ==== */
.welcomeContainer {
    width: 100%;
    height: 30vh; 
    font-size: clamp(1.8rem, 5vw, 2.5rem);/* segun con esto ya no se rompe, en mi monitor no se rompe, chequenlo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generalContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.articleIcon {
    width: 50%; /* tamb se corrige esta madre, hacia suma de 120 xddd */
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.articleLogin {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    background-color: #3165CD; 
    border-radius: 2rem; 
    padding: 3rem 2.5rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    width: 90%; 
    max-width: 29rem; 
}

.loginForm h1 {
    color: black;
    font-size: 2rem; 
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.loginForm .input {
    width: 100%;
}

.loginForm input {
    width: 100%;
    background-color: #D9D9D9; 
    border: none;
    border-radius: 2rem; 
    padding: 1rem 1.25rem; 
    font-size: 1.25rem; 
    font-weight: bold;
    font-family: "Comic Sans MS", "Chalkboard SE", cursive, sans-serif;
    color: black;
}

.loginForm input::placeholder {
    color: black;
}

.loginForm button {
    background-color: #FFA500;
    border: none;
    border-radius: 1rem; 
    padding: 0.75rem 2.8rem; 
    font-size: 1.5rem; 
    font-weight: bold;
    font-family: "Comic Sans MS", "Chalkboard SE", cursive, sans-serif;
    color: black;
    cursor: pointer;
    margin-top: 0.6rem; 
}

.loginForm .inputContainer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15); 
    border: 0.15rem solid #94B1E7; 
    border-radius: 1.25rem; 
    padding: 1.5rem 1rem; 
    display: flex; 
    flex-direction: column;
    gap: 1.5rem; 
    box-shadow: inset 0 0.25rem 0.4rem rgba(0,0,0,0.2); 
}