main {
    padding: 2vh;
    background-color: #5F8ADC;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.lista-asist{
    width: 85vw;
    height: 50vh;
    overflow-x: auto;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
table{
    width: 85vw;
    height: fit-content;
    overflow-y: auto;
    border-radius: 1.5vh;
    margin: 0.5vw;
    background-color: #D9D9D9;
    .nombalumlista{
        width: 50vh;
    }
}