* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #6a96e3; 
    display: flex;
    flex-direction: column;
    height: 100vh;
}



/* Header principal */
.navbar-superior {
    background-color: #0b1d3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #b8860b; 
}

.navbar-logo img {
    height: 50px;
}

.navbar-logout {
    background-color: #ff8c00;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#nomb_proyecto{
    color:#b8860b;
    font-size:x-large;
    padding: 5px;
    border-color: #b8860b;
    border-style: double;
 }

.sub-navbar-ruta {
    background-color: #17376e;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
}

.breadcrumbs span {
    margin-right: 10px;
}

.main-layout {
    display: flex;
    flex: 1;
}
aside {
    background-color: #2b4d82;
    width: 220px;
    padding: 20px 15px;
    border-right: 2px solid #1a325a;

    display: flex;
 
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    
}
.sidebar {
    background-color: #2b4d82;
    width: 220px;
    padding: 20px 15px;
    border-right: 2px solid #1a325a;
    
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*sidebar profe*/
summary, .grupos a {
    text-decoration: none;
    color: black;
    background-color: #d1e3fa;
    border-radius: 15px;
    display: block;
    text-align: center;
}
summary{
    padding: 12px;
    font-weight: bold;
    margin: 10px;
}

.grupos a {
    padding: 5px;
    margin-top: 5px;
    margin-right: 30px;
    font-weight:lighter;
}

/*Agrega alumno profe*/
.sidebar-menu {
   display: flex;
   flex-direction: column;
   gap: 18px;
}   


.btn-sidebar.summary-grupo {
   background-color: #cbd5e1;
   color: #1a1a1a;
   text-decoration: none;
   text-align: center;
   padding: 12px 20px;
   border-radius: 20px;
   font-weight: bold;
   font-size: 15px;
   box-shadow: 0 2px 5px rgba(0,0,0,0.15);
   transition: all 0.2s ease;
}



/* === agregar/buscarAlumno ==== */

.opModProfe {
    width: 80vw;
    display: flex; 
    flex-direction: column !important;
    gap: 2%;
}

.search-title {
    width: 20vw;
    margin-left: 1%;
    background-color: #e2e8f0;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin-left: 20px;
}

.search-form input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #e2e8f0;
}

.btn-search {
    background-color: #e2e8f0;
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
    margin: 0 auto; 
    margin-top: 10px;
}




