/* ==== SETTINGS ===== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ==== GENERIC ==== */

header {
    width: 100%;
    height: 10vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #051D3C;
}

nav{
    width: 100%;
    height: 4vh;
    display: flex;
    background-color: #0A3265;
}

.mainCont{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

aside {
    width: 15%;
    height: 86vh;

    background-color: #22468D;

    display: flex;
 
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    
}

main {
    width: 85%;
    height: 86vh;
    
    background-color: #5F8ADC;
    font-size: 2vw;
  
    display: flex;
    flex-direction: column;

    h1 {
        margin: 1%;
        color: #FFFFFF;
    }
}

/* ==== OBJECTS ==== */

.menuOp{
    width: 175px;
    height: 90px;
    
    border-radius: 1vw;
    margin: 10%;
    cursor: pointer;
    
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    background-color: #C9D8F3;
}

.logo {
    width: 6vw;
    height: 9vh;
    margin: 0.5vw;

    position: relative;
    left: 10%;
}

header a {

    width: 10vw;
    height: 5vh;
    border-radius: 1vw;

    background-color: #FF7700;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    left: 80%;
}

.breadcrumbs {
    color: white;
    font-size: 1.8vh;
}

.breadcrumbs span {
    margin-right: 1vw;
    cursor: pointer;
}