* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #6a96e3; 
    display: flex;
    flex-direction: column;
    height: 100vh;
}



/* Header principal */
.navbar-superior {
    background-color: #0b1d3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #b8860b; 
}

.navbar-logo img {
    height: 50px;
}

.navbar-logout {
    background-color: #ff8c00;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#nomb_proyecto{
    color:#b8860b;
    font-size:x-large;
    padding: 5px;
    border-color: #b8860b;
    border-style: double;
 }

.sub-navbar-ruta {
    background-color: #17376e;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
}

.breadcrumbs span {
    margin-right: 10px;
}

.main-layout {
    display: flex;
    flex: 1;
}


/* === agregar/buscarAlumno ==== */

.opModProfe {
    width: 80vw;
    display: flex; 
    flex-direction: column !important;
    gap: 2%;
}

.search-title {
    width: 20vw;
    margin-left: 1%;
    background-color: #e2e8f0;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin-left: 20px;
}

.search-form input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #e2e8f0;
}

.btn-search {
    background-color: #e2e8f0;
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
    margin: 0 auto; 
    margin-top: 10px;
}




