<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Css/signupGraph.css">
    <title>Registrarse-nodesErTE</title>
</head>
<body>
    <main>
        <section class="welcomeContainer">
            <h1>¡Registrate a NodesErTE!</h1>
        </section>

        <section class="generalContainer">
            <div class="articleSignup">
                <div class="avatarIcon"><img class="icon" src="../Statics/img/signup-icon.png" alt="Avatar"></div>
                <!-- Formulario de registro -->
                <form class="signupForm">
                    <div class="inputContainer">
                        <label for="userSign" class="input">
                            <input type="text" id="userSign" name="userSign" minlength="3" maxlength="15" placeholder="Nombre de Usuario" required>
                        </label>
                        <label for="emailSign" class="input">
                            <input type="email" id="emailSign" name="emailSign" placeholder="Correo Electrónico" required>
                        </label>
                        <label for="passwordSign" class="input">  
                            <input type="password" id="passwordSign" name="passwordSign" minlength="3" maxlength="15" placeholder="Contraseña" required>
                        </label>
                    </div>
                    <h2>NO OLVIDES TU CONTRASEÑA!</h2>
                    <br>
                    <button type="submit">REGISTRARSE</button>
                </form>
                <br>
                <h4>¿Ya tienes una cuenta?, <a id="loginRelocation" href="index.html">Inicia sesión aquí.</a></h4>
            </div>
            
        </section>
    </main>
</body>
</html>